spring:
  profiles:
    active: test
  application:
    name: export_test

server:
  port: 80

excel-plus:
  export:
    responseClassName: com.gongbo.excel.example.result.Result
    templateDir: classpath:exportTemplates/



